

<div class="header">This is header text Admin.</div>
<li class="nav-item">
    <a class="nav-link" href="#">Alterar Fator do Cálculo</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#"></a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cliente
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Usuário</a>
        <a class="dropdown-item" href="#">Cálcular dívida</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Consultar dívida</a>
    </div>
</li>