

@Scripts.Render("~/bundles/admin")
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <label id="lHome" class="nav-link" role="button">Home</label>
            </li>
            <li class="nav-item">
                <label id="ldoCalc" class="nav-link" role="button">Fator Calculo</label>
            </li>
            <li class="nav-item dropdown">
                <label class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultas
                </label>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <label id="lconsDivida" class="dropdown-item" role="button">Dívidas</label>
                    <div class="dropdown-divider"></div>
                    <label id="lconsUser" class="dropdown-item" role="button">Usuário</label>
                    <div class="dropdown-divider"></div>
                    <label id="lcadIna" class="dropdown-item" role="button">Cadastrar inadimplência</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="logOff()">Desconectar</button>
                </div>
            </li>
        </ul>
       
    </div>

</nav>