
@{
    ViewBag.Title = "Dividas";
}


@Scripts.Render("~/bundles/divida")
@RenderPage("~/Areas/Admin/Views/Shared/_Header.cshtml")



<br />

<div id="dividaBody" class="bg-danger">


</div>


<script>
    //Chamad função para listagem de dividas
    listaDivida();
</script>
