@{
    ViewBag.Title = "Acesso";
}

@RenderPage("../Shared/_Header.cshtml")



<div>
    <label>USER:</label>
    <input type="text" id="iUser" value="" />
    <br />
    <label>SENHA:</label>
    <input type="password" id="iPassword" value="" />
    <br />
    <label id="avisoNulo" style="display: none ">Os campos user e senha são obrigatórios</label>

</div>
<di>
    <label id="btnLogar">Entrar</label>
</di>
<br />
<di>
    <a style=" cursor: pointer;" id="aEsqueci">Puts! esqueci minha senha</a>
</di>


@RenderPage("../Shared/_Footer.cshtml")