
@{
    ViewBag.Title = "Fator Cálculo";
}

@Scripts.Render("~/bundles/fator")
@RenderPage("~/Areas/Admin/Views/Shared/_Header.cshtml")




<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAlterar" onclick="verificaAcao()">
    Adicionar Fator
</button>
<br />
<br />
<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Juros</th>
                <th scope="col">Juros em %</th>
                <th scope="col">Comissão paschoaloto %</th>
                <th scope="col">Quantidade de Parcelas</th>
                <th scope="col">Data do Cadastro</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody id="fatorBody"></tbody>
    </table>
</div>

<!-- Modal para alterar o fator calculo -->
<div class="modal fade" id="modalAlterar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" id="fatorID" value="" hidden />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label>Quantidade de Parcelas</label>
                        </div>
                        <div class="col">
                            <input type="number" step="1" min="0" id="qtdParc" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Tipo de Juros</label>
                        </div>
                        <div class="col">
                            <select id="tipoJuros">
                                <option selected>Selecione</option>
                                <option value="1">Simples</option>
                                <option value="2">Composto</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Juros sobre a dívida %</label>
                        </div>
                        <div class="col">
                            <input type="number" step="0.01" min="0" max="100" placeholder="diário" id="jurosPer" value="" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Comissão Paschoalotto %</label>
                        </div>
                        <div class="col">
                            <input type="number" step="0.01" min="0" max="100" placeholder="diário" id="jurosPasch" value="" />
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary" onclick="verificaAcao()" id="salvarEditar"></button>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</div>



