
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/fator")
@RenderPage("~/Areas/Admin/Views/Shared/_Header.cshtml")




<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAlterar" onclick="verificaAcao()">
    Adicionar Fator
</button>
<br />
<br />
<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Juros</th>
                <th scope="col">Juros em %</th>
                <th scope="col">Comissão paschoaloto</th>
                <th scope="col">Quantidade de Parcelas</th>
                <th scope="col">Data do Cadastro</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody id="fatorBody"></tbody>
    </table>
</div>

<!-- Modal para alterar o fator calculo -->
<div class="modal fade" id="modalAlterar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="number" id="fatorID" value="" hidden/>

                    <label>Quantidade de Parcelas</label>
                    <input type="number"  step="1" min="0" id="qtdParc" value="" />

                    <label>Tipo de Juros</label>
                    <select id="tipoJuros">
                        <option>Selecione</option>
                        <option value="1">Simples</option>
                        <option value="2">Composto</option>
                    </select>

                    <label>Juros sobre a dívida</label>
                    <input type="number"  step="0.01" min="0" max="100" id="jurosPer" value="" />

                    <label>Comissão Paschoalotto</label>
                    <input type="number"  step="0.01" min="0" max="100" id="jurosPasch" value="" />
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="verificaAcao()" id="salvarEditar"></button>
            </div>
        </div>
    </div>
</div>



