

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <label id="lHome" class="nav-link with" role="button">Telefone de orientação para ligar e negociar com um colaborador: (14) 2108-8000</label>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="logOff()">Desconectar</button>
        </div>
    </div>
</nav>

<script>
    //Realizar log off
    function logOff() {
        window.location.href = '/Home/';
    }
</script>